@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@font-face {
    font-family: "moret";
    src: url("https://use.typekit.net/af/b0aec3/00000000000000003b9b379f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/b0aec3/00000000000000003b9b379f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/b0aec3/00000000000000003b9b379f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "moret";
    src: url("https://use.typekit.net/af/cd9599/00000000000000003b9b37a2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"), url("https://use.typekit.net/af/cd9599/00000000000000003b9b37a2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"), url("https://use.typekit.net/af/cd9599/00000000000000003b9b37a2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 800;
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	--text-color: #D1D5DB;
	--background-color: #1d1b22;
	--background-color-2: #03b9f1;
	--link-color: #03b9f1;
	--link-hover-color: #D1D5DB;

	--color-title: #03b9f1;
	--font-title: 'moret', serif;
	--color-people: #1d1b22;

	--blendmode-title: difference;

	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	color: var(--text-color);
	background: var(--background-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--background-color);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 10000;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 10px solid var(--background-color-2);
	border-left-color: var(--text-color);
	animation: loaderAnim 0.8s linear infinite forwards;
}

@keyframes loaderAnim {
	to {
		transform: rotate(360deg);
	}
}

main {
	position: relative;
	width: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: var(--link-color);
	outline: none;
}

a:hover,
a:focus {
	color: var(--link-hover-color);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.content-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50vh;
	min-height: 500px;
	pointer-events: none;
}

.content {
	position: relative;
	display: grid;
}

.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	z-index: 100;
	pointer-events: none;
	padding: 1.5em;
}

.content--fixed span {
	color: var(--link-color);
}

.content--fixed a {
	pointer-events: auto;
}

.content--fixed .title {
	grid-area: fixedtitle;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	text-align: right;
	align-self: start;
	justify-self: end;
	letter-spacing: 2px;
}

.content--layout {
	pointer-events: auto;
	justify-content: center;
	align-content: center;
	grid-template-columns: 150px 150px 150px 150px; 
	grid-template-rows: 150px 75px 75px;
	grid-template-areas:	"... title title title"
							"people ... desc desc"
							"people ... link link";
}


.content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	opacity: 0.9;
	width: 300px;
	height: auto;
	padding:50px;
}

.content__year {
	grid-area: title;
	font-family: var(--font-title);
	font-weight: 800;
	letter-spacing: -0.025em;
	font-size: 7em;
	line-height: 160px;
	margin: 0;
	z-index: 10;
	cursor: default;
	will-change: transform;
	mix-blend-mode: var(--blendmode-title);
	color: transparent;
	-webkit-text-stroke: 1px var(--color-title);
	text-stroke: 1px var(--color-title);
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
}

.content__people {
	grid-area: people;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	padding: 1em;
	text-align: center;
	cursor: default;
	z-index: 20;
  	color: var(--color-people);
}

.content__people.animate {
	animation: morph 3s linear infinite;
  	animation-delay: 400ms;
}

.content__people span {
	font-size: 80%;
	display: block;
}

.content__desc {
	grid-area: desc;
	margin: 0;
	z-index: 10;
	padding: 0 1em;
	cursor: default;
}

.content__img,
.content__year,
.content__people,
.content__desc {
	transition: transform 0.3s ease-out;
}

/* Different layouts */

.content--layout-1 .content__year {
	margin-left: 1em;
}

.content--layout-1 .content__people {
	justify-self: start;
	align-self: start;
}

/* layout-2 */
.content--layout-2 {
	grid-template-areas:	"... title title title"
							"desc desc ... people"
							"link link ... people";
}

.content--layout-2 .content__img, .content--layout-2 .bubble {
	grid-column: 3 / 5;
	grid-row: 1 / 3;
}

.content--layout-2 .content__desc {
	text-align: right;
}

.content--layout-2 .content__link {
	justify-self: end;
}

.content--layout-2 .content__people {
	justify-self: end;
	align-self: start;
}

/* layout-3 */
.content--layout-3 {
	grid-template-rows: 75px 75px 150px;
	grid-template-areas:	"... ... desc desc"
							"people title title title"
							"people ... link link";
}

.content--layout-3 .content__img, .content--layout-3 .bubble {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.content--layout-3 .content__desc {
	align-self: end;
}

.content--layout-3 .content__year {
	margin-left: 0.7em;
}

.content--layout-3 .content__people {
	justify-self: start;
	align-self: end;
}

/* layout-4 */

.content--layout-4 {
	grid-template-areas:	"title title title desc"
							"... people ... desc"
							"... people ... link";
}

.content--layout-4 .content__img, .content--layout-4 .bubble {
	grid-column: 2 / 4;
	grid-row: 1 / 3;
}

.content--layout-4 .content__people {
	justify-self: start;
	align-self: end;
}

@media screen and (max-width: 50em) {
	.content--fixed {
		height: auto;
		min-height: 0;
		display: block;
		z-index: 1000;
		position: absolute;
	}
	.content--fixed .title {
		display: none;
	}
}

@media screen and (max-width: 40em) {
	.content--layout {
		transform: scale3d(0.8,0.8,1);
	}
}

@media screen and (max-width: 36em) {
	.content--layout {
		transform: scale3d(0.7,0.7,1);
	}
}

@media screen and (max-width: 32em) {
	.content--layout {
		transform: scale3d(0.6,0.6,1);
	}
	.content__people,
	.content__desc,
	.content__link {
		font-size: 1.35em;
	}
}

@media screen and (max-width: 28em) {
	.content--layout {
		transform: scale3d(0.5,0.5,1);
	}
}

/* nav */
.section {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

.section--nav {
	position: fixed;
	z-index: 10;
	top: 10%;
	font-family: var(--font-title)
}

.section {
	 background: inherit;
	 color: var(--color-title);
	 min-height: 510px;
}

.section .mockup-slider {
	margin: 0 0 0 -9em;
	min-height: 510px;
}

@media screen and (max-width: 50em) {
	
	.section.section--intro {
		font-size: 1em;
	}
	.section--nav {
		padding: 4em 0;
	}
	.section--nav::before {
		content: attr(id);
		position: absolute;
		top: 1em;
		right: 1em;
	}
	.mockup-slider {
		display: none;
	}
	.nav {
		-webkit-flex: none;
		flex: none;
		margin: 0 auto;
	}
}

/* General styles */

.nav {
	position: relative;
	width: 8em;
	margin: 0 0 0 3em;
}

.nav__item {
	line-height: 1;
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	letter-spacing: 0;
	color: currentColor;
	border: 0;
	background: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.nav__item:focus {
	outline: none;
}

/*** Kairos ***/

.nav--kairos {
	position: absolute;
	top: 50%;
	left: 0;
	margin: 0;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

.nav--kairos .nav__item {
	height: 1.5em;
}

.nav--kairos .nav__item::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 50%;
	height: 2px;
	margin: -1px 0 0 0;
	opacity: 0.5;
	background: #fff;
	-webkit-transform: scale3d(0.5,1,1);
	transform: scale3d(0.5,1,1);
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.nav--kairos .nav__item:not(.nav__item--current):focus::before,
.nav--kairos .nav__item:not(.nav__item--current):hover::before {
	opacity: 1;
	-webkit-transform: scale3d(0.75,1,1);
	transform: scale3d(0.75,1,1);
}

.nav--kairos .nav__item--current::before {
	opacity: 1;
	-webkit-transform: scale3d(2,1,1);
	transform: scale3d(2,1,1);
}

.nav--kairos .nav__item-title {
	font-size: 1.25em;
	font-weight: bold;
	display: block;
	overflow: hidden;
	margin: -1.15em 0 0 1.6em;
	text-align: left;
	white-space: nowrap;
	pointer-events: none;
}

.nav--kairos .nav__item-title a {
	display: block;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.nav--kairos .nav__item--current .nav__item-title a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.content--footer {
	text-align: center;
	margin-top: 4.5em;
	padding: 2em 5em;
	color: #888888;
	font-size: 80%;
	line-height: 1.5;
}

.content--footer a {
	color: #888888;
	cursor: pointer;
}

.content--footer a:hover {
	color: #ffffff;
}

.bubble{
	background-image: linear-gradient(120deg, #aaa7a7 0%, #ffffff 100%);
	border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	opacity: 0.8;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	outline: 1px solid transparent;
	will-change: border-radius;

}

.bubble:before,
.bubble:after{
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0; top: 0;
	border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
	box-shadow: 5px 5px 89px rgba(170, 167, 167, 0.21);
	will-change: border-radius, transform, opacity;
	animation-delay: 200ms;
	background-image: linear-gradient(120deg, rgba(170,167,167,.55) 0%, rgba(170,167,167,.89) 100%);
}

.bubble:before{
	opacity: .21;

}

.bubble.animate {
	animation: morph 3s linear infinite; 
	
}

.bubble.animate:before {
	animation: morph 3s linear infinite;
	animation-duration: 1.5s;
}

@keyframes morph{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    opacity: .89;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn{
  100%{
    transform: scale(1.03);
    opacity: 0;
  }
